@model List<Comment>
@{
    ViewData["Title"] = "Отзывы";
}

<link rel="stylesheet" href="~/css/comments.css" />

<div class="content">
    <div class="content-comments">

        <div class="comments-title">
            <p>Отзывы</p>
        </div>

        <div class="comments-textmessage">
            <p>Уважаемые гости нашего отеля, нам небезразлично ваше мнение! Здесь вы можете оставить ваши отзывы, замечания, пожелания и предложения.
            Мы стараемся для вас и хотим стать ещё лучше. Мы благодарны вам за честную и обоснованную критику.</p>
        </div>

        <div class="add-form-container">
            <div class="comments-add">
                <p>Оставьте свой отзыв</p>
                @using (Html.BeginForm("Create", "Comments", FormMethod.Post))
                {

                    <input type="text" name="_authorName" id="name" placeholder=" Ваше имя" maxlength="50"/><br />
                    <input type="text" name="_authorEmail" id="email" placeholder=" Email" maxlength="50"/><br />
                    <textarea name="_text" id="textarea" placeholder=" Напишите ваш отзыв здесь" maxlength="5000"></textarea><br />

                    <input type="submit" value="Добавить" onclick = "return validateComments('name', 'email', 'textarea');" />
                }
            </div>
        </div>

        <div class="comments-list-container">
            <div class="comments-list">
                @for (int i = Model.Count - 1; i >= 0; i--)
                {
                    if (i % 2 != 0)
                    {
                    <div class="comment-container-odd">
                        <div class="comment">
                            @if (Model.ElementAt(i).AuthorName == "Admin")
                            {
                                <div class="title-admin"><p>@Model.ElementAt(i).AuthorName, @Model.ElementAt(i).Date</p></div>
                            }
                            else
                            {
                                <div class="title"><p>@Model.ElementAt(i).AuthorName, @Model.ElementAt(i).Date</p></div>
                            }
                            
                            <div class="text"><p>@Model.ElementAt(i).Text</p></div>
                        </div>
                    </div>

                    }
                    else
                    {
                    <div class="comment-container-even">
                        <div class="comment">
                             @if (Model.ElementAt(i).AuthorName == "Admin")
                             {
                                <div class="title-admin"><p>@Model.ElementAt(i).AuthorName, @Model.ElementAt(i).Date</p></div>
                             }
                             else
                             {
                                <div class="title"><p>@Model.ElementAt(i).AuthorName, @Model.ElementAt(i).Date</p></div>
                             }
                            <div class="text"><p>@Model.ElementAt(i).Text</p></div>
                        </div>
                    </div>

                        }
                    }
            </div>
            

        </div>



    </div>
</div>